<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
</head>
<body>
<div ng-app="App" ng-controller="ctrl">
<form name="theForm" action="">
Username:<input type="text" name="user" ng-model="uname" required/>
<span ng-show="theForm.user.$error.required">Username is required</span>
<br>
Password:<input type="password" name="pass" ng-model="upass" required/>
<span ng-show="theForm.pass.$error.required">Password required</span><br>
Confirm Password:<input type="password" name="cpass" ng-model="cupass" required/>
<span ng-show="theForm.pass.$error.required">Password required</span><br>
<button type="button" ng-click="check()">LOGIN</button>
<p>{{text}}</p>
</form></div>
<script>
var app=angular.module("App",[]);
app.controller("ctrl",function($scope){
	$scope.text="";
	$scope.uname="username";
	$scope.upass="password";
	$scope.cupass="confirm password";
	$scope.check=function(){
		
		if($scope.upass!=$scope.cupass)
			$scope.text="passwords don't match";
		else
			$scope.text="successfull";
	}
});
</script>
</body>
</html>